@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    font-family: 'Roboto', cursive;
    font-size: 40px;
}

#buttons {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(-45deg, #ff534a, #fe793e, #fe793e, #ff534a);
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card {
    background: #fea82f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.card h1 {
    color: white;
    font-weight: 800;
    margin: auto;
    margin-bottom: 20px;
}

.btn {
    background: #ffc288;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    outline: none;
    padding: 25px;
    width: 48%;
}

.btn:hover {
    background: #fcecdd;
    border: none;
    color: #ff6701;
    cursor: pointer;
}

.number {
    padding: 10px 0px 10px 0px;
}

#gif{
    margin: auto;
    display: block;
    border-radius: 10px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
}

.btn-center{
    margin: auto;
}