@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

#buttons {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #5b1e61;
    margin: 0;
}

.card {
    background: #243572;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 50px 50px 0px 50px;
    text-align: center;
}

.card h1 {
    color: white;
    font-weight: 800;
    margin: auto;
    margin-bottom: 20px;
}

.btn {
    background: #1E2E61;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    outline: none;
    padding: 25px;
    width: 48%;
}

.btn:hover {
    background: #B9D1FF;
    border: none;
    color: black;
    cursor: pointer;
}

.number {
    padding: 10px 0px 10px 0px;
}