@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    font-family: 'Roboto', cursive;
    font-size: 40px;
}

#buttons {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    /* background: linear-gradient(-45deg, #ff534a, #fe793e, #fe793e, #ff534a); */
    background: #9b8d6f;
    animation: gradient 15s ease infinite;
}
/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.card {
    background: #202020;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.card h1 {
    color: #ffffff;
    font-weight: 800;
    margin: auto;
    margin-bottom: 20px;
}

.btn {
    background: #ffffff;
    border: none;
    border-radius: 10px;
    color: #202020;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    outline: none;
    padding: 25px;
    width: 48%;
}

.btn:hover {
    background: #e5e5e5;
    border: none;
    color: #202020;
    cursor: pointer;
}

.number {
    padding: 10px 0px 10px 0px;
}

#gif{
    margin: auto;
    display: block;
    border-radius: 10px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.btn-center{
    margin: auto;
}
.ninja{
    display: none;
}